!!! 5
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Presentasi Hidup Sehat
		link(rel='stylesheet', type='text/css', href='bower_components/bespoke.js/demo/themes.css')
		link(rel='stylesheet', type='text/css', href='styles/main-presentation.css')
	body(class="coverflow")
		article
			include halaman-1
			include halaman-2
			include halaman-3
			include halaman-4
			include halaman-5
			include halaman-6
			include halaman-7
			include halaman-8
			include halaman-9
			include halaman-10
		
include presentation-footer
include main-footer
