!!! 5
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Presentasi Hidup Sehat
		link(rel='stylesheet', type='text/css', href='bower_components/bespoke.js/demo/themes.css')
		link(rel='stylesheet', type='text/css', href='styles/main-presentation.css')
	body(class="coverflow")
		article
			include halaman-1
			include halaman-2
			include halaman-3
			include halaman-4
			include halaman-5
			include halaman-6
			include halaman-7
			include halaman-8
			include halaman-9
			include halaman-11
			include halaman-12
			include halaman-13
			include halaman-14
			include halaman-15
			include halaman-16
			include halaman-17
			include halaman-18
			include halaman-19
			include halaman-20
			include halaman-21
			include halaman-22
			include halaman-23
			include halaman-24
			include halaman-25
		div(class="footer")
			p
				&nbsp;Copyright&#169; 2015 All Right Reserved. NL-HK-YH
				
include presentation-footer
include main-footer
