section
	table
		tr
			td(colspan="2")
				h1(style="color:#abff00") Makanan sehat
		tr
			td
				img(src="images/bayam.jpg")
			td 
				p Bayam berguna untuk rambut dan kulit karena kaya zat besi, magnesium, serta vitamin A dan C. 
		tr
			td
			td 
				ul(style="list-style-image:url('images/valid.png');margin-left:5px") Khasiat
					li Bagian tanaman yang digunakan adalah daun dan akar.
					li Mengonsumsi bayam sangat baik bagi sistem pencernaan tubuh. Menurunkan risiko terkena kanker, dan mengurangi kolestrol. 
					li Bayam juga berkhasiat untuk mengatasi haid tidak teratur,mengobati disentri dan kurang darah.
					li Sementara untuk pengobatan, daun bayam dapat digunakan untuk berbagai pengobatan seperti; membersihkan darah sehabis bersalin, mengobati tekanan darah rendah, memperkuat akar rambut, dan gagal ginjal.	
					li Sedangkan akarnya dapat digunakan untuk disentri.