section
	tr
		td(colspan="2")
			h1(style="color:#abff00") Sit Up
	tr
		td
			img(src="images/sit up.png")
		td
			p Variasi latihan ini dapat membentuk otot perut yang kuat bagian atas, ini mungkin sering anda lakukan saat berolahraga. Tapi apakah gerakan Sit Up anda sudah benar?
	tr
		td
			ol Langkah-langkah :
				li Langkah pertama, berbaringlah di atas alas yang telah dipersiapkan, tekuk bagian lutut kaki anda hingga membentuk sudut 90 derajat, usahakan telapak kaki anda menyentuh lantai .
				li Kedua, letakan tangan anda di belakang kepala, lalu angkat badan mendekati lutut, setelah itu turunkan kembali.
				li Ketiga, Atur nafas anda. Usahakan pada saat badan dinaikan untuk membuang napas, begitu sebaliknya, saat tubuh turun ambilah nafas secukupnya.
				li Kempat, Usahakan agar ritme naik dan turun badan anda sama. Jika anda merasakan rasa sakit atau tekanan didaerah perut pada saat melakukan sit up, segera hentikan aktivias ini untuk beberapa saat, karena bisa jadi Sit up yang dilakukan masih belum benar.
		