section
	table
		tr
			td(colspan="2")
				h1(style="color:#abff00") Presentasi Hidup Sehat 
		tr
			td(colspan="2")
				img.big(src="images/walking.png")
		tr
			td
				hr
				h1(style="color:#abff00") WITH =>
			td
				ul(style="color:#abff00;font-weight:bold") 
					li NICO LIMBARA
					li YUNAS HANIFAH
					li HENRY KURNIAWAN

