section
	table
		tr
			td
				h1(style="color:#abff00") Chair Dips
		tr
			td 
				img(src="images/cara membentuk tubuh atletis.jpg")
				p Latihan ini adalah latihan yang dapat memperkuat otot dada, otot bahu dan juga otot trisep. Latihan ini sama pentingnya seperti push up agar otot tangan anda semakin kuat dan juga semakin kekar.
				ol Langkah-langkah :
					li Tempatkan kedua tangan pada kursi atau tempat lainnya dengan jarak selebar bahu
					li Angkat tubuh Anda dengan mengkontraksikan otot dada, bahu dan tricep bersamaan
					li Tekuk lutut Anda ke arah belakang
					li Turunkan tubuh secara perlahan ke bawah dengan posisi punggung tetap lurus
					li Kembali ke posisi semula. 