section
	table
		tr
			td
				h1(style="color:#abff00") Faktor Pikiran
		tr
			td 
				ul(style="list-style:circle;font-size:20px")
					li Sumber dan solusi untuk mendapatkan bentuk tubuh ideal yang diinginkan oleh setiap orang ada pada dalam diri mereka sendiri. Di pikiran. Lebih tepatnya, di pikiran bawah sadarnya. Ya, pikiran bawah sadarlah yang menentukan bentuk tubuh setiap orang. Bukan makanan atau faktor lain.
					li Jika pikiran bawah sadar menginginkan tubuh yang gemuk, seberapa keras dan besar pun usaha yang diberikan untuk mendapatkan tubuh indah dan seksi, tubuh akan menggunakan kecerdasan dan kekuatannya untuk mengembalikan bentuk tubuh yang ia rasa baik untuk diri Anda.
					li Hanya dengan mengatahui alasan mengapa pikiran mengingkan tubuh gemuk, maka akan mudah bagi kita mencari solusi untuk mengatasi kegemukan itu sendiri.
					li Alasan yang tidak mendukung kemajuan diri disebut dengan beban mental. Dengan menetralisir beban mental ini, proses diet akan jauh lebih mudah dilakukan. Bahkan, secara sadar, Anda tidak perlu memberikan upaya dan perjuangan yang berat daripada tidak melakukan cara ini.
				