section
	table
		tr
			td
				h1(style="color:#abff00") Pengertian Tubuh Ideal
		tr
			td 
				hr
				p Berat badan ideal adalah bobot optimal dari tubuh untuk menjaga kesehatan dan kebugaran. Rentang dari berat badan ideal seseorang dapat diperhitungkan berdasarkan berbagai macam faktor, di antaranya: ras, jenis kelamin, usia, serta tinggi badan. Dikenal berbagai macam metode perhitungan berat badan ideal, di antara yang umum digunakan untuk usia dewasa adalah sebagai berikut: berat badan ideal berdasarkan indeks masa tubuh (IMT), berdasarkan rumus Brocha, berdasarkan rumus Devine. Sedangkan berat badan ideal pada anak dapat dihitung berdasarkan rumus Leffler dan rumas Theron.

			