section
	h1(style="color:#abff00") Faktor Tubuh Ideal
	ul(style="list-style-image:url('images/valid.png');margin-left:5px;font-size:24px")
		li Faktor genetika
		li Faktor makanan
		li Faktor pikiran
		li Faktor istirahat
		li Faktor olahraga
