section
	table
		tr
			td
				h1(style="color:#abff00") Tips Bagi si Gemuk
		tr
			td 
				ul(style="list-style-image:url('images/valid.png');font-size:20px")
					li Jangan Tinggalkan Sarapan
						p(style="font-size:16px") Kesalahan pehaman dalam menjalankan program diet ini akan berdampak besar pada keberhasilan program diet anda. Sebagian besar orang awam yang belum mengerti tentang diet dan memiliki keinginan untuk menurunkan berat badan mereka cenderung untuk tidak melakukan sarapan. Padahal itu merupakan kesalahan yang cukup merugikan, dampak dari tidak sarapan adalah melambatnya metabolisme tubuh yang mana akan berdampak pada kesuksesan diet anda. Maka dari itu tetap lakukan sarapan namun dengan makanan yang kaya serat, protein, dan gizi, seperti sayuran, putih telur, serta susu.
					li Awali dengan Air Putih
						p(style="font-size:16px") Cara menurunkan berat badan selanjutnya yaitu memanfaatkan air putih. Air putih sangat membantu proses penurunan berat badan. Dengan banyak mengkonsumsi air putih akan meningkatkan hidrasi sel-sel tubuh yang akan menunjang proses metabolisme. Dalam menjalankan diet sebaiknya minimal meminum air putih sebanyak 8 gelas sehari. Selain itu air putih juga bisa dijadikan sebagai senjata ampuh untuk program anda yaitu dengan mengawali minum segelas air putih sebelum makan. Hal ini akan membantu anda mengurangi porsi makan karena perut sudah merasa kenyang terlebih dahulu.
					li Banyak Bergerak atau Olahraga
						p(style="font-size:16px") Bagi anda yang memiliki banyak waktu tentunya bisa memulai program penurunan badan ini dengan melakukan olahraga secara teratur baik itu joging, senam aerobik, maupun jalan santai. Namun bagi anda yang tidak memiliki waktu luang untuk melakukan olah raga anda juga tidak perlu khawatir karena ada cara lain yang bisa ditempuh. Caranya yaitu anda harus banyak bergerak, misalnya jika pekerjaan anda berada dikantor yang memiliki lif maka bisa mencoba menggunakan tangga, selain itu terapkan untuk sering berjalan-jalan di tempat kerja. Hal itu akan membantu membakar kalori dalam tubuh. Intinya anda harus banyak bergerak dan beraktifitas yang membuat tubuh bergerak.
