section
	table
		tr
			td(colspan="2")
				h1(style="color:#abff00") Makanan sehat
		tr
			td
				img(src="images/ubi-jalar.jpg")
			td 
				p Ubi kaya dengan vitamin. Dalam ubi terkandung vitamin A, B, C, dan E. Selain itu, ubi juga rendah kalori, khususnya jika dipanggang atau dimasak tanpa gula.
		tr
			td
				img(src="images/sebatang-gandum.jpg")
			td
				p Gandum kaya akan vitamin B3, thiamin atau vitamin B1, zat besi, serat, dan vitamin E. Sereal gandum juga bagus untuk diet Anda.
		tr
			td
				img(src="images/kedelai.jpg")
			td
				p Kedelai mengandung omega 3, kalsium, dan zat besi. Makanan ini popular untuk vegetarian. Selain dimasak biasa, kedelai juga bisa dinikmati dalam bentuk tofu, susu, atau tempe dan tahu.
