section
	table
		tr
			td
				h1(style="color:#abff00") Olahraga yang dapat dilakukan
		tr
			td 
				h3 Lakukan Terlebih Dahulu Olahraga Yang Dapat Membakar Lemak di Tubuh
				img(src="images/Wellness-Reimbursement.jpg")
				p Sebelum maju ke tahap pembentukan otot, hal pertama yang harus dilakukan untuk Membentuk tubuh ideal di rumah adalah dengan cara melakukan olahraga yang dapat membakar lemat pada tubuh. Tujuannya agar bentuk otot di dalam tubuh kita lebih terlihat, namun banyak sekali tujuannya selain itu seperti agar tubuh lebih sehat dan terhindar dari obesitas.
				