section
	table
		tr
			td
				h1(style="color:#abff00") Rumus IMT
		tr
			td
				ul
					p Berat badan ideal berdasarkan IMT (Index massa tubuh)
					p IMT = berat badan (kilogram) / (tinggi badan (meter) x Tinggi badan (meter))
					p Hasil IMT yang didapatkan lalu dibandingkan dengan skala yang dikemukakan oleh World Health Organisation (WHO), yaitu sebagai berikut:
					br
					ul
						li < 18,5 berat badan kurang
						li 18,5 - 22,9 berat badan ideal
						li 23 - 24,9 ideal tapi dengan warning
						li 25 - 29,9 mendekati
						li >= 30 obesitas
	