section
	table
		tr
			td
				h1(style="color:#abff00") Push Up
		tr
			td 
				img(src="images/push.jpg")
				p Latihan ini sudah sangat familiar di telinga kita, latihan pushup dapat memperkuat otot bagian tangan seperti otot bisep dan trisep dan tentunya otot bahu. Namun anda harus melakukan pushup dengan benar jangan setengah-setengah. Ada 3 tingkatan pushup yang harus anda catat, anda bisa memilih mana yang cocok dengan tubuh anda, jika anda sudah memiliki otot tangan yang cukup kuat mungkin anda akan memilih tingkatan advanced.