section
	table
		tr
			td
				h1(style="color:#abff00") Tips Bagi si Kurus
		tr
			td 
				ul(style="list-style-image:url('images/valid.png');font-size:18px")
					li Makan teratur minimal 3x sehari dan secara berangsur-angsur menambah porsi makan. Hal yang perlu diperhatikan adalah menu makanan harus dibuat beragam dan mengandung karbohidrat, protein seperti daging, telur, ikan, tempe dll. yang dapat menunjang kebutuhan badan yaitu membantu menggemukkan badan.
					li Biasakan mengunyah makanan sampai halus, sehingga kerja lambung tidak terlalu berat dan makanan yang dikonsumsi porsinya semakin banyak.
					li Minum susu full cream secara teratur 2 kali sehari, kandungan protein dan kalsium dalam susu dapat menunjang penggemukan badan, terutama minum susu sebelum tidur.
					li Biasakan ngemil, terutama di malam hari. Pilih makanan untuk ngemil yang mengandung kalori tinggi dan protein seperti roti, kacang-kacangan dll.
					li Istirahat secukupnya agar metabolisme dalam tubuh lancar sehingga badan Anda terhindar dari masalah sembelit, diare, dan gangguan perut. Jika gangguan tersebut terjadi berulang kali dan dirasa tidak normal segera konsultasikan ke dokter agar mendapat solusi terbaik
					li Olahraga teratur juga perlu dilakukan oleh orang-orang yang mendambakan tubuh ideal, termasuk yang sedang menggemukkan badan. Olahraga berperan menambah massa otot sekaligus sebagai penyeimbang makanan-makanan yang Anda konsumsi sehingga makanan tersebut dapat dicerna dengan optimal dan memberi efek pada usaha Anda menggemukkan badan, usahakan olahraga minimal 1 jam perhari.
					li Beberapa hal yang harus dihindari dalam proses penggemukan badan antara lain: hindari begadang, hentikan kebiasaan minum sebelum makan, dan hindari kebiasaan merokok.
					li Gunakan suplemen penambah berat badan terpercaya dan telah terbukti. Suplemen penambah berat badan diperlukan untuk mempercepat penambahan berat. Salah satu suplemen penambahan berat badan yang kami sarankan adalah Zinc Capsules Suplement serta spirulina capsules. 



