section
	table
		tr
			td
				h1(style="color:#abff00") Faktor Olahraga
		tr
			td 
				hr
				p Faktor yang sangat mempengaruhi adalah olahraga, ini yang menyebabkan seseorang kelebihan berat badan atau kekurangan berat badan. dengan olahraga anda akan mendapatkan berat badan ideal anda
