section
	table
		tr
			td
				h1(style="color:#abff00") Faktor Makanan
		tr
			td 
				hr
				p kurangnya gizi atau nutrisi harian anda juga bisa menyebabkan anda kurus, salah satu alasannya adalah karena banyak sekali orang saat ini lebih menyukai fast food atau junk food dibandingkan dengan makanan rumahan yang sebetulnya kandungan gizinya jauh lebih baik
