section
	table
		tr
			td
				h1(style="color:#abff00") Olahraga yang dapat dilakukan
		tr
			td 
				h3 Lakukan Beberapa Program Latihan Secara Rutin
				img(src="images/cara membentuk tubuh sixpack.jpg")
				p Ada banyak sekali variasi latihan yang patut anda lakukan sebagai latihan membentuk otot-otot pada tubuh anda. Ada program latihan yang membentuk otot tangan, dada, kaki, punggung atau bahu dan juga otot perut. Lakukan program latihan berikut secara rutin, namun ketahui kondisi tubuh anda jangan terlalu memaksakan jika tubuh anda terasa sakit pada tangan atau bagian yang lainnya.Namun jangan lupa untuk Melakukan pemanasan terlebih dahulu! tujuannya agar tubuh tidak cedera.
	