section
	table
		tr
			td
				h1(style="color:#abff00") Tips Bagi si Gemuk
		tr
			td 
				ul(style="list-style-image:url('images/valid.png');font-size:20px")
					li Konsumsi Protein
						p(style="font-size:16px") Protein merupakan salah satu zat penunjang diet yang sangat dianjurkan. Usut punya usut ternyata proten memiliki fungsi yang luar biasa yaitu mampu membakar lemak dan cocok sebagai penunjang diet sehat anda. Protein bisa diperoleh dari putih telur, selain itu bisa juga di dapat dari oat meal gandum maupun sereal. Konsumsi protein ini sangat di anjurkan sebagai sarapan pagi anda.
					li Makan Makanan Kaya Serat
						p(style="font-size:16px") Sudah menjadi rahasia umum bahwa makanan berserat termasuk salah satu kunci keberhasilan dalam cara menurunkan berat badan anda. Konsumsi makanan berserat ini dianjurkan untuk dikonsumsi di siang hari atau malam hari. Makan berserat tinggi ini bisa didapat dari buah dan sayur sayuran. Buah mislanya pir, pisang, pepaya, dan jambu biji. Sayur misalnya brokoli, labu, bayam, lobak, kentang, ubi jalar, kembang kol, kubis merah, dan sayur-sayuran hijau.
					li Ganti Makanan Karbohidrat Sederhana dengan Karbohidrat Kompleks
						p(style="font-size:16px") Karbohidrat merupakan sumber dari energi dan gula, namun jenis karbohidrat sederhana akan susah diserap oleh tubuh sehingga cenderung untuk ditimbun dalam dalam bentuk lemak. Makanan berkarbohidrat sederhana ini biasanya bersumber dari nasi, mie, pasta, dan lain-lain. Bagi mereka yang menjalanan program penurunan badan maka wajib hukumnya mengganti makanan berkabohidrat sederhana dengan makanan berkabohidrat kompleks misalnya beras merah, gandum, oat meal, sereal, dan jenis kacang-kacangan.
					li Perhatikan Makan Malam Anda
						p(style="font-size:16px") Dimalam hari tubuh cenderung lebih sedikit beraktifitas sehingga asupan karbohidrat tidak terlalu dibutuhkan. Maka dari itu agar penurunan berat badan anda berhasil sebaiknya hindari makan malam dengan makanan yang mengandung karbohidrat. Ada baiknya makan malam diganti dengan menu berupa sayur-sayuran yang direbus bukan yang ditumis dengan minyak. Tambahkan buah-buahan sebagai asupan gizi untuk menu makan malam. Jangan lupa juga untuk menghindari makan makanan yang dioleh dengan di goreng agar cara menurunkan berat badan ini memberikan hasil yang maksimal.
