section
	table
		tr
			td
				h1(style="color:#abff00") Pull Up
		tr
			td 
				img(src="images/cara membentuk tubuh ideal.jpg")
				p Pull Up adalah latihan lanjutan yang sangat efektif untuk membentuk otot dada dan juga tanga. Latihan ini wajib anda coba jika otot tangan anda sudah cukup kuat untuk mengangkat berat tubuh anda.
				ol Langkah-langkah :
					li Genggam palang pullup (bisa pipa besi atau palang apa saja yang menggantung dan dapat menahan berat tubuh) selebar bahu
					li Pastikan tubuh menggantung dengan lengan lurus
					li Tarik tubuh Anda ke atas hingga dada menyentuh palang
					li Turunkan kembali tubuh ke posisi semula