section
	table
		tr
			td
				h1(style="color:#abff00") Faktor Genetika
		tr
			td 
				hr
				p 33% Faktor genetika ini mempengaruhi berat badan anda, sehingga salah satu faktor yang menyebabkan badan anda kurus mungkin salah satu penyebabnya adalah ini tetapi satu hal yang harus anda ketahui, bahwa Genetika itu bisa dilawan sehingga anda masih bisa berpotensi untuk mendapatkan berat badan ideal impian anda
