section
	table
		tr
			td(colspan="2")
				h1(style="color:#abff00") Makanan sehat
		tr
			td
				img(src="images/kacang-merah.jpg")
			td 
				p Kacang merah memiliki kandungan serat, protein, zat besi, fosfor, magnesium tinggi, dan sejumlah vitamin serta mineral. Tambahkan kacang merah dalam salad atau sup yang Anda buat untuk menambah kelezatan serta menyehatkan makanan Anda.
		tr
			td
				img(src="images/brokoli.jpg")
			td
				p Brokoli merupakan sumber kalsium, potassium, serta vitamin A dan C. Untuk mendapatkan hasil terbaik jangan masak terlalu matang dan hindari memakai saus serta keju berlebihan saat memakannya.

		tr
			td
				img(src="images/salmon.jpg")
			td
				p Sebagian besar jenis ikan dan seafood merupakan pilihan sehat, tapi salmon adalah ikan yang paling bagus karena memiliki kandungan protein serta asam amino dan omega 3 yang tinggi. Selain itu, salmon juga rendah kolesterol.