section
	table
		tr
			td
				h1(style="color:#abff00") Faktor Istirahat
		tr
			td 
				hr
				p Kebanyakan orang tidak pernah membayangkan bahwa tidur adalah cara terbaik untuk menambah massa otot. Sebenarnya, itu bukan cara terbaik untuk menambah massa otot, namun jelas merupakan bagian penting dari proses perkembangan otot Anda. Sangat penting untuk dipahami bahwa jika Anda ingin mendapatkan pertumbuhan otot optimal dengan cepat, Anda harus cukup tidur setiap malam. Tidur yang ideal itu disarankan 8 jam setiap malam, makanya bagi anda yang suka begadang lebih baik tinggalkan kebiasaan jelek tersebut ya. 