section
	table
		tr
			td(colspan="2")
				h1(style="color:#abff00") Makanan sehat
		tr
			td
				img(src="images/apel.jpg")
			td 
				p Apel merupakan contoh serat yang mudah dicerna untuk memerangi kolesterol. Apel juga bagus sebagai sumber vitamin C. Apel mengandung quecertin, plavanoid yang bisa mencegah penyakit kanker. Untuk mendapatkan hasil yang maksimal, makan apel beserta kulitnya setelah dibersihkan.
		tr
			td
				img(src="images/kacang-almond.jpg")
			td
				p Kacang almond kaya akan serat dan protein, juga bagus untuk sumber zat besi, magnesium, dan vitamin E. Konsumsi kacang almond mentah atau sudah diolah untuk mendapatkan hasil terbaik. Hindari kacang almond yang sudah dibumbui dengan banyak garam atau diolah dalam bentuk makanan manis, karena buruk untuk program diet Anda.
		tr
			td
				img(src="images/blueberry.jpg")
			td
				p Blueberry kaya serat, vitamin C, dan antioksidan. Jenis berry lainnya juga bisa jadi pilihan yang sama bagusnya. Dimakan saat masih segar atau ditambahkan dalam yoghurt, sereal, dan salad, khasiat berry tetap bagus untuk kesehatan